.search-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 1360px;
    margin-left: 50px;
    }
    input{
        border-top: none ;
        border-left: none;
        border-right: none;
        border: solid ;
        border-radius: 20px;
        width: 300px;
        border-color: rgb(179, 175, 175);
        padding: 5px 5px;
        padding-left: 55px;
    }