button{
    width: 340px;   
    margin-left: 23px;
   }
   input{
       border-bottom: solid;
   }

   :host{
    display: block;
    background-image: url('https://images.unsplash.com/photo-1495320520040-44186a20c601?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nzl8fGFpcnBvcnR8ZW58MHx8MHx8fDA%3D');
    background-color: #cccccc; 
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }

  